# Node modules
/node_modules
/packages/*/node_modules
**/node_modules

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs/
packages/*/logs/

# Docker and data directories
data/
nginx/cache
nginx/ssl
nginx/ssl/*.pem
nginx/ssl/*.key
nginx/ssl/*.crt

# Build output
dist/
build/
**/coverage/
**/dist
**/build

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Backups
backups/
*.backup

# Misc
.angular/