services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - job-application-tracker
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
networks:
  job-application-tracker:
    driver: bridge
