:host {
  display: block;
}

.nav-link {
  cursor: pointer;
  color: var(--color-text-secondary);
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: var(--color-bg-active);
  color: var(--color-brand-accent);
}

.nav-link.is-active {
  background-color: var(--color-bg-active);
  color: var(--color-brand-accent);
}