@keyframes borderSlide {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }

  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}

.toast-border-animate {
  animation: borderSlide 3s linear infinite;
}

.text-status-success {
  color: var(--color-status-success);
}

.text-status-error {
  color: var(--color-status-error);
}

.text-status-warning {
  color: var(--color-status-warning);
}

.bg-alert-success {
  background-color: var(--color-status-success);
}

.bg-alert-error {
  background-color: var(--color-status-error);
}

.bg-alert-warning {
  background-color: var(--color-status-warning);
}