@keyframes borderSlide {
    0% {
        transform: scaleX(1);
        transform-origin: left;
    }

    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}

.toast-border-animate {
    animation: borderSlide 3s linear infinite;
}

.text-alert-success {
    color: var(--status-success);
}
.text-alert-error {
    color: var(--status-error);
}
.text-alert-warning {
    color: var(--status-warning);
}

.bg-alert-success {
    background-color: var(--status-success);
}
.bg-alert-error {
    background-color: var(--status-error);
}
.bg-alert-warning {
    background-color: var(--status-warning);
}
