@keyframes borderSlide {
    0% {
        transform: scaleX(1);
        transform-origin: left;
    }

    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}

.toast-border-animate {
    animation: borderSlide 3s linear infinite;
}