name: Pull Request Workflow
on:
  pull_request:
    branches:
      - main
    paths:
      - backend/**
      - frontend/**
      - '.github/workflows/**'
      - '.github/actions/**'
permissions:
  contents: write
  pull-requests: read

jobs:
  is-bot-commit:
    uses: ./.github/workflows/check-bot-commit.yml
  
  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    needs: is-bot-commit
    if: needs.is-bot-commit.outputs.is-bot == 'false'
    outputs:
      backend: ${{ steps.changes.outputs.backend }}
      frontend: ${{ steps.changes.outputs.frontend }}
      version-update-required: |-
        ${{
          (
            steps.changes.outputs.backend == 'true' || 
            steps.changes.outputs.frontend == 'true'
          )
        }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Filter Paths
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            backend: ['backend/**']
            frontend: ['frontend/**']
      - name: Output Detected Changes
        run: |
          echo "Backend changes detected: ${{ steps.changes.outputs.backend }}"
          echo "Frontend changes detected: ${{ steps.changes.outputs.frontend }}"
  
  call-backend-ci:
    needs: detect-changes
    if: needs.detect-changes.outputs.backend == 'true'
    uses: ./.github/workflows/backend-ci.yml
    secrets: inherit
  
  call-frontend-ci:
    needs: detect-changes
    if: needs.detect-changes.outputs.frontend == 'true'
    uses: ./.github/workflows/frontend-ci.yml
    secrets: inherit

  update-versions:
    needs: [ is-bot-commit,detect-changes, call-backend-ci, call-frontend-ci]
    if: needs.is-bot-commit.outputs.is-bot == 'false' && needs.detect-changes.outputs.version-update-required == 'true'
    runs-on: ubuntu-latest
    name: Update Version Files
    env:
      HEAD_REF: ${{ github.head_ref }}
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
          token: ${{ secrets.MY_GH_BOT_PAT }}


      - name: Update Backend Service Version
        id: update_backend_version
        if: needs.detect-changes.outputs.backend == 'true'
        uses: ./.github/actions/npm-version-update
        with:
          working_dir: './backend'
          mode: >-
            ${{ 
              startsWith(github.head_ref, 'bugfix/') && 'patch' || 
              startsWith(github.head_ref, 'feature/') && 'minor' || 
              startsWith(github.head_ref, 'release/') && 'major' || 
              'patch'
            }}
          
      - name: Update Frontend Service Version
        id: update_frontend_version
        if: needs.detect-changes.outputs.frontend == 'true'
        uses: ./.github/actions/npm-version-update
        with:
          working_dir: './frontend'
          mode: >-
            ${{ 
              startsWith(github.head_ref, 'bugfix/') && 'patch' || 
              startsWith(github.head_ref, 'feature/') && 'minor' || 
              startsWith(github.head_ref, 'release/') && 'major' || 
              'patch' 
            }}
      
      - name: Commit Version Updates
        run: |
            COMMIT_MESSAGE="version-update:"
            if [ "${{ needs.detect-changes.outputs.backend }}" == "true" ]; then
              BACKEND_VERSION=${{ steps.update_backend_version.outputs.version }}
              COMMIT_MESSAGE+=" Backend api version to v$BACKEND_VERSION."
            fi
            if [ "${{ needs.detect-changes.outputs.frontend }}" == "true" ]; then
              FRONTEND_VERSION=${{ steps.update_frontend_version.outputs.version }}
              COMMIT_MESSAGE+=" Frontend app version to v$FRONTEND_VERSION."
            fi
            git add .
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git commit -am "$COMMIT_MESSAGE"
            git push origin "HEAD:$HEAD_REF"

  check-workflow-completion:
    name: Check Workflow Completion
    needs: [detect-changes, call-backend-ci, call-frontend-ci, update-versions]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Evaluate Results
        run: |
          results=$(echo '${{ toJson(needs) }}' | jq -r 'to_entries | map(.value.result) | join(" ")')
          if [[ "$results" =~ "failure" || "$results" =~ "cancelled" ]]; then
            echo "Error: One or more dependent jobs failed/cancelled."
            exit 1
          fi
          echo "All dependent jobs completed successfully."